body  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  box-sizing: border-box;
  text-align: right;
  position: fixed;
  height: 50px;
  background-color: white;
  width: 100%;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  margin-right: 80px;
}

#app-name{
  width: 100px;
  position: absolute;
  left: 75px;
  font-size: 25px;
  top: 12px;
  font-weight: 700;
  color: #0e9aef;
}

.first-look{
  background-color: blue;
  padding: 5% 0;
  background-image: url("https://images.unsplash.com/photo-1487954335942-047e6d1551ee?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-size: cover;
  background-position: 0 55%;
  width: 100%;
  height: 500px;
}

.first-look h1{
  text-align: center;
  font-size: 70px;
  color: white;
  font-weight: 200;
  margin-top: 7%;
  background-color: rgba(0,0,0,0.5);
}

.find-event{
  text-align: center;
  text-decoration: none;
}

.find{
  width: 125px;
  height:27px;
  font-size: 15px;
  font-weight: 700;
  background-color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #0033cc;
  display: inline-block;

}

.find:hover{
  background-color: #d9eaf5;
}

.find:focus{
  background-color: #9fcfec; 
}

.find a{
  text-decoration: none;
}

.find a:hover{
  color: #0e9aef;
}

.about{
  margin: 5%;
  margin-left:15%;
  margin-right: 15%;
}

.pic{
  width: 100%;
  margin:10px;
  width:30%;
  display: inline-block;
  background-image: url("https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F28206486%2F187610677724%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C39%2C1500%2C750&s=4e77b603aa0b73137eb0199d61e88d33");
  height:200px;
  background-size: cover;
}

.pic img{
  width:100%
}

.two{
  float:right;
  background-image: url("https://encrypted-tbn0.gstatic.com/klkimages?q=tbn:ANd9GcS3WdIYJ9sHw4o1VyIrf_oJqVoBaT0RSHlZ-WzCvyBFw1F4kJqJyA");

}

.para{
  font-family: 'Barlow Semi Condensed', sans-serif;
  display: inline-block;
  width: 50%;
  font-size: 15px;
  color: #4B0082;

}

.first{
  float:right;
  display: inline-block;
  width: 50%;
  margin: 7% 0;
}

.second{
  margin: 7% 0;
}

.search-event{
  text-align: center;
}

.js-search-form {
  background-color: #0e9aef;
  margin-top:5%;
  display: inline-block;
}

.js-search-form h2{
  font-size: 35px;
  padding-top: 3%;
}

form{
  width: 100%;
  text-align: center;
  min-height: 300px;
  margin: 0 auto;
  color:white;
  display: inline-block;
}

.event-search{
  display: inline-block;
}

.event-search input{
  width: 230px;
  display: inline-block;
  font-size: 0;
  height: 35px;
}

form .js-query{
  text-align: center;
  display: inline-block;
  font-size: 12px;
}

.distance{
  height: 30px;
  font-size:17px;
}

#miles{
  height: 30px;
  vertical-align: middle;
}

button{
  border-radius: 4px;
  width: 280px;
  height: 32px;
  border: 1px solid rgb(169,169,169);
}

button:hover{
  border: 1px solid #0033cc;
}

button:focus{
  border: 2px solid #4B0082;
}

.search-button{
  background-image: url("https://tf-assets-prod.s3.amazonaws.com/tf-curric/WEB-DEV-001/2.4.6_challenge_design_to_code/magnifying-glass.png");
  background-position: center;
  margin-left: 20px;
  width: 40px;
  background-size: 32px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 32px;
  vertical-align: middle;
}

.results h1{
  padding-left: 80px;
}

.result-displayed{
  padding: 20px 200px;
  text-align: left;
}

.result-displayed h4{
  color: grey;
  margin: 0;
}

.result-displayed h2{
  margin: 0;
}
.result-displayed p{
  color: grey;
  font-weight: 600;
}

.result-displayed h3{
  color: #4B0082;
}

.results .result-displayed:nth-child(odd){
  background: #E8E8E8;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}

.results .result-displayed:nth-child(even) .image{
  float:right;
}

.results .result-displayed:nth-child(even) .text{
  float:left;
  text-align: left;
}

.image{
  width:30%;
  margin: 15px 0;
  float: left;
  padding: 10 auto;
}

.text{
  margin:15px;
  float: right;
  text-align: right;
  max-width: 60%;
}

.clear{
  clear:both;
}

.img{
  width:100%;
  height: 130px;
  background-size: cover;
  margin: 0 auto;
}

.image p{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.js-date h4{
  margin-left: 0;
}

.js-search-results{
  text-align: center;
}

h2{
  display: inline-block;
}

.a .js-result-title{
  text-decoration: none;
}

#title{
  color: #4B0082;
}

#title h2{
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.border {
  border: 1px solid grey;
  margin: 0 auto;
}

footer{
  text-align: center;
  margin: 5px;
  padding: 2px;
  background-color: #0e9aef;
  margin: 0 auto;
  color: white;
}

footer a{
  font-size: 15px;
  font-weight: 900;
}

@media only screen and (max-width: 900px) {

  .js-query{
    width:100%;
  }

  div.about{
    margin:5%;
  }

  .js-search-form{
    width: 100%;
  }

  .js-search-form h2{
    font-size: 25px;
    padding-top: 3%;
  }

  .search-event h2{
    margin: 4%;
  }

  .row{
    width: 98%;
  }


  form .js-query{
    font-size: 12px;
  }
  
  form input{
    display: inline-block;
    font-size: 0;
  }

  .event-search{
    display: inline-block;
    margin: 0;
    width: 100%;
  }

  .event-search input{
    width: 194px;
    margin: 0;
  }

  .col-3>div{
    font-size: 0;
    display: inline-block;
  }
}

@media only screen and (max-width: 850px) {

  .first-look{
    margin-bottom: 10%;
  }

  .find-event h1{
    font-size: 40px;
    margin-top: 150px;
  }

  .pic{
    width: 100%;
    margin: 2px;
  }

  .para{
    text-align: center;
    width: 100%;
  }

  .js-search-form{
    margin: 0;
    min-height: 300px;
  }
  
  .row{
    width: 96%;
  }

  .distance label{
    margin: 0;
    padding: 20px;
    text-align: center;
  }

  select#miles{
    text-align: center;
  }

  .search-button{
    text-align: center;
    margin-left: 20px;
  }

  .event-search{
    margin: 3%;
  }

  .event-search input{
    width: 193px;
  }

  .js-search-results{
    margin-top: 19px;
    display: block;
    text-align: center;

  }

  .result-displayed{
    text-align: center;
    display: block;
    padding: 0;
    margin:0 auto;
  }

  .image{
    margin:0 auto;
    display: block;
    float: none;
  }

  .img {
    margin: 0 auto;
    display: block;
    margin-top: 10%;
    float: none;
  }

  .results .result-displayed:nth-child(even) .image{
    float:none;
    margin: 0 auto;
  }
  
  .results .result-displayed:nth-child(even) .text{
    float:none;
    text-align: center;
  }

  .result-displayed #title{
    display:block;
    text-align: center;
  }

  .result-displayed{
    text-align: center;
    display: block;
    float: none;
    margin: 0;
  }

  .result-displayed h4{
    color: grey;
    margin: 0;
  }

  .text{
    margin:15px;
    float: none;
    text-align: center;
    max-width: 100%;
    display: block;
  }

  .img{
    width:200px;
    height: 130px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    float: none;
  }
  
  .image p{
    margin-top: 0;
    text-align: center;
  }

  .image p:nth-child(odd){
    float:none;
    clear: none;
  }

  .js-date h4{
    margin-left: 0;
  }

  h2{
    display: inline-block;
  }

  .a .js-result-title{
    text-decoration: none;
  }

  #title{
    color: #4B0082;
  }

  #title h2{
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
}

@media only screen and (max-width: 828px) {

  .js-search-form{
    margin: 0;
    min-height: 300px;
  }

  .row{
    width: 96%;
  }

  .event-search input{
    width: 188px;
  }
}


@media only screen and (max-width: 795px) {

  .js-search-form{
    min-height: 300px;
  }

  .row{
    width: 96%;
  }

  .event-search input{
    width: 180px;
  }
}

@media only screen and (max-width: 745px) {

  .row{
    width: 96%;
  }

  .event-search input{
    width: 168px;
  }
}

@media only screen and (max-width: 699px) {

  .js-search-form{
    margin: 0;
    min-height: 430px;
  }

  form input{
    text-align: center;
    margin: 5px;
    display: block;
  }
  
  .event-search input{
    display: block;
    text-align: center;
    margin: 5px;
    width: 230px;
  }

  label{
    display: block;
    width: 100%;
    margin:4% 0;
  }

  .search-button{
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 640px){ 

  .js-search-form{
    margin: 0;
    min-height: 410px;
  }

  .event-search input{
    display: block;
    text-align: center;
    margin: 5px;
    width: 230px;
  }

  label{
    display: block;
    width: 100%;
    margin:5% 0;
  }

  .search-button{
    margin-top: 0;
    margin-bottom: 0;
  }

  .image{
    width:200px;
    margin: 5% auto;
    float: none;
  }

  .img{
    float: none;
    margin: 0 auto;
  }

  .results .result-displayed:nth-child(even) .image{
    padding: 5% 0;
  }
}

  @media only screen and (max-width: 320px) {
  
  #app-name {
      left:30%;
    }

  .event-search input{
    width: 200px;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 220px) {
    
#app-name {
      left:25%;
    }

.event-search input{
    width: 180px;
    margin: 0 auto;
  }

}